/* CSS declarations go here */

h1 {
  font-size: 5em;
}

h2 {
  font-size: 3em;
}

h1, h2, h3 {
  text-align: center;
}

h3 {
  padding: 0 0 2%;
  font-size: 2em;
}

body {
  background-color: lightgrey;
}

.item {
  background-color: white;
  margin: 1% 1% 2%;
  border: 2px solid black;
}

.left, .right {
  margin: 1% 0;
  padding: 1%;
}

p {
  margin: 0 5% 0 0;
}
