/* CSS declarations go here */

@import url(http://fonts.googleapis.com/css?family=Alex+Brush);

h1 {
  font-size: 12rem;
  font-family: 'Alex Brush', cursive;
  color: white;
}

h2 {
  font-size: 4rem;
  color: white;
}

h1, h2, h3 {
  text-align: center;
}

h3 {
  padding: 0 0 2%;
  font-size: 2em;
}

body {
  background: linear-gradient(to top, lightgrey, #29293D 80%);
  background-attachment: fixed;
}

.item {
  background-color: white;
  margin: 1% 1% 2%;
  border: 2px solid black;
}

.left, .right {
  margin: 1% 0;
  padding: 1%;
}

p {
  margin: 0 5% 0 0;
}
